html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  @apply font-sans bg-surface-100 text-on-primary;
}

code {
  @apply font-mono;
}

@mixin swatch-palette(
  $name,
  $c-100,
  $c-200,
  $c-300,
  $c-400,
  $c-500,
  $c-600,
  $c-700,
  $c-800,
  $c-900
) {
  --#{$name}-100: #{$c-100};
  --#{$name}-200: #{$c-200};
  --#{$name}-300: #{$c-300};
  --#{$name}-400: #{$c-400};
  --#{$name}-500: #{$c-500};
  --#{$name}-600: #{$c-600};
  --#{$name}-700: #{$c-700};
  --#{$name}-800: #{$c-800};
  --#{$name}-900: #{$c-900};
}

@mixin on-palette($base) {
  --on-primary: #{rgba($base, 0.87)};
  --on-secondary: #{rgba($base, 0.6)};
}

.theme {
  &-light {
    @include swatch-palette(
      surface,
      $c-100: #ffffff,
      $c-200: #e9e9e9,
      $c-300: #c7c7c7,
      $c-400: #aaaaaa,
      $c-500: #919191,
      $c-600: #787878,
      $c-700: #646464,
      $c-800: #535353,
      $c-900: #454545
    );

    @include on-palette(#000);
  }

  &-dark {
    @include swatch-palette(
      surface,
      $c-100: #121212,
      $c-200: #1f1f1f,
      $c-300: #232323,
      $c-400: #252525,
      $c-500: #272727,
      $c-600: #2c2c2c,
      $c-700: #323232,
      $c-800: #353535,
      $c-900: #383838
    );

    @include on-palette(#fff);
  }
}

// 	"primary": {
// 		"100": "#FFE8D9",
// 		"200": "#FFCBB3",
// 		"300": "#FFA88E",
// 		"400": "#FF8771",
// 		"500": "#FF5043",
// 		"600": "#DB3033",
// 		"700": "#B72130",
// 		"800": "#93152C",
// 		"900": "#7A0C29"
// 	},
// 	"success": {
// 		"100": "#CEFBD3",
// 		"200": "#A0F8B2",
// 		"300": "#6DEB95",
// 		"400": "#48D883",
// 		"500": "#15BF6C",
// 		"600": "#0FA46A",
// 		"700": "#0A8964",
// 		"800": "#066E5B",
// 		"900": "#045B53"
// 	},
// 	"info": {
// 		"100": "#CFF7FE",
// 		"200": "#9FEBFE",
// 		"300": "#6FD7FC",
// 		"400": "#4BC1FA",
// 		"500": "#119FF7",
// 		"600": "#0C7BD4",
// 		"700": "#085CB1",
// 		"800": "#05418F",
// 		"900": "#032E76"
// 	},
// 	"warning": {
// 		"100": "#FFF9CC",
// 		"200": "#FFF099",
// 		"300": "#FFE666",
// 		"400": "#FFDC3F",
// 		"500": "#FFCC00",
// 		"600": "#DBAA00",
// 		"700": "#B78B00",
// 		"800": "#936D00",
// 		"900": "#7A5700"
// 	},
// 	"danger": {
// 		"100": "#FBAAB1",
// 		"200": "#F9868F",
// 		"300": "#F76570",
// 		"400": "#F54754",
// 		"500": "#F42C3A",
// 		"600": "#F31120",
// 		"700": "#DF0B19",
// 		"800": "#C90A16",
// 		"900": "#B50914"
// 	}
// }
