html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  @apply font-sans bg-surface-50 text-on-primary;
}

code {
  @apply font-mono;
}

.theme {
  &-light {
    --surface-50: #ffffff;
    --surface-100: #f5f5f5;
    --surface-200: #e0e0e0;
    --surface-300: #c2c2c2;
    --surface-400: #9e9e9e;
    --surface-500: #828282;
    --surface-600: #6b6b6b;
    --surface-700: #575757;
    --surface-800: #4a4a4a;
    --surface-900: #424242;
    --surface-950: #2e2e2e;

    --on-primary: rgba(0, 0, 0, 0.87);
    --on-secondary: rgba(0, 0, 0, 0.6);

    --primary-50: #fff2f1;
    --primary-100: #ffe1df;
    --primary-200: #ffc9c5;
    --primary-300: #ffa49d;
    --primary-400: #ff6f64;
    --primary-500: #ff5043;
    --primary-600: #ed2415;
    --primary-700: #c81a0d;
    --primary-800: #a5190f;
    --primary-900: #881c14;
    --primary-950: #4b0904;

    --success-50: #effef6;
    --success-100: #dafeeb;
    --success-200: #b7fbd9;
    --success-300: #7ff6bb;
    --success-400: #40e895;
    --success-500: #15bf6c;
    --success-600: #0cad5e;
    --success-700: #0e874c;
    --success-800: #116a40;
    --success-900: #105736;
    --success-950: #02311d;

    --info-50: #eefbff;
    --info-100: #d9f6ff;
    --info-200: #bbf0ff;
    --info-300: #8ce8ff;
    --info-400: #56d7ff;
    --info-500: #2fbeff;
    --info-600: #119ff7;
    --info-700: #1188e4;
    --info-800: #156db8;
    --info-900: #175c91;
    --info-950: #133858;

    --warning-50: #fffce5;
    --warning-100: #fff9c2;
    --warning-200: #ffef85;
    --warning-300: #ffdc42;
    --warning-400: #ffc70f;
    --warning-500: #ffb700;
    --warning-600: #d18400;
    --warning-700: #a75c02;
    --warning-800: #8a480a;
    --warning-900: #753b0f;
    --warning-950: #431d04;

    --danger-50: #fef2f3;
    --danger-100: #ffe1e3;
    --danger-200: #ffc8cc;
    --danger-300: #ffa2a9;
    --danger-400: #fd6c76;
    --danger-500: #f42c3a;
    --danger-600: #e2202e;
    --danger-700: #be1723;
    --danger-800: #9d1720;
    --danger-900: #821a21;
    --danger-950: #47080c;
  }

  &-dark {
    --surface-50: #040404;
    --surface-100: #121212;
    --surface-200: #1a1a1a;
    --surface-300: #272727;
    --surface-400: #353535;
    --surface-500: #404040;
    --surface-600: #454545;
    --surface-700: #4b4b4b;
    --surface-800: #545454;
    --surface-900: #696969;
    --surface-950: #818181;

    --on-primary: rgba(255, 255, 255, 0.87);
    --on-secondary: rgba(255, 255, 255, 0.6);

    --primary-50: #290c0a;
    --primary-100: #542421;
    --primary-200: #65241f;
    --primary-300: #812922;
    --primary-400: #9f342d;
    --primary-500: #da362b;
    --primary-600: #de4f45;
    --primary-700: #e67870;
    --primary-800: #eb948e;
    --primary-900: #eea5a0;
    --primary-950: #f0ada8;

    --success-50: #031c11;
    --success-100: #11412a;
    --success-200: #135335;
    --success-300: #126d41;
    --success-400: #139054;
    --success-500: #1da563;
    --success-600: #39db8a;
    --success-700: #73edb0;
    --success-800: #a8f5cf;
    --success-900: #cbfbe1;
    --success-950: #dffbec;

    --info-50: #082336;
    --info-100: #0c3c5a;
    --info-200: #08486e;
    --info-300: #075c8d;
    --info-400: #0975ae;
    --info-500: #1193d0;
    --info-600: #25b2f4;
    --info-700: #6eccf7;
    --info-800: #a8dffa;
    --info-900: #cfeafc;
    --info-950: #ddf1fd;

    --warning-50: #2d1206;
    --warning-100: #5c2d14;
    --warning-200: #6e3712;
    --warning-300: #87460d;
    --warning-400: #ad640b;
    --warning-500: #d08a11;
    --warning-600: #eaa510;
    --warning-700: #f5c13d;
    --warning-800: #f8d97c;
    --warning-900: #fbebb1;
    --warning-950: #fbf3d5;

    --danger-50: #26080a;
    --danger-100: #611f23;
    --danger-200: #761e24;
    --danger-300: #96222a;
    --danger-400: #ba2c35;
    --danger-500: #df202d;
    --danger-600: #ef5d66;
    --danger-700: #f68e96;
    --danger-800: #f8afb4;
    --danger-900: #fac6ca;
    --danger-950: #f8d8da;
  }
}

// Scrollbar
* {
  // Firefox
  scrollbar-width: auto;
  scrollbar-color: var(--surface-400) var(--surface-50);

  // Chromium/Safari
  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--surface-50);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--surface-400);
    border-radius: 10px;
    border: 5px solid var(--surface-50);
  }
}

// Default focus outline
*:focus-visible {
  outline: 2px solid var(--on-primary);
}
