@use "sass:color";

html,
body,
#root {
  @apply w-full h-full;
}

body {
  margin: 0;
  @apply bg-neutral-50 text-on-primary;

  * {
    @apply font-sans;
  }

  code {
    @apply font-mono;
  }
}

@mixin make-color-palette(
  $name,
  $c-50,
  $c-100,
  $c-200,
  $c-300,
  $c-400,
  $c-500,
  $c-600,
  $c-700,
  $c-800,
  $c-900,
  $c-950,
  $interactive-base: $c-500
) {
  --#{$name}-50: #{$c-50};
  --#{$name}-100: #{$c-100};
  --#{$name}-200: #{$c-200};
  --#{$name}-300: #{$c-300};
  --#{$name}-400: #{$c-400};
  --#{$name}-500: #{$c-500};
  --#{$name}-600: #{$c-600};
  --#{$name}-700: #{$c-700};
  --#{$name}-800: #{$c-800};
  --#{$name}-900: #{$c-900};
  --#{$name}-950: #{$c-950};
  --#{$name}-hover: #{color.change($interactive-base, $alpha: 0.15)};
  --#{$name}-active: #{color.change($interactive-base, $alpha: 0.25)};
}

.theme {
  &-light {
    @include make-color-palette(
      neutral,
      $c-50: #ffffff,
      $c-100: #f5f5f5,
      $c-200: #e0e0e0,
      $c-300: #c2c2c2,
      $c-400: #9e9e9e,
      $c-500: #828282,
      $c-600: #6b6b6b,
      $c-700: #575757,
      $c-800: #4a4a4a,
      $c-900: #424242,
      $c-950: #2e2e2e
    );

    --on-primary: #222222;
    --on-secondary: #666666;
    --on-dim: #999999;

    @include make-color-palette(
      primary,
      $c-50: #fff2f1,
      $c-100: #ffe1df,
      $c-200: #ffc9c5,
      $c-300: #ffa49d,
      $c-400: #ff6f64,
      $c-500: #ff5043,
      $c-600: #ed2415,
      $c-700: #c81a0d,
      $c-800: #a5190f,
      $c-900: #881c14,
      $c-950: #4b0904
    );

    @include make-color-palette(
      success,
      $c-50: #effef6,
      $c-100: #dafeeb,
      $c-200: #b7fbd9,
      $c-300: #7ff6bb,
      $c-400: #40e895,
      $c-500: #15bf6c,
      $c-600: #0cad5e,
      $c-700: #0e874c,
      $c-800: #116a40,
      $c-900: #105736,
      $c-950: #02311d
    );

    @include make-color-palette(
      info,
      $c-50: #f0f5ff,
      $c-100: #e1ebfe,
      $c-200: #b9d6fd,
      $c-300: #7eb4fc,
      $c-400: #3389fa,
      $c-500: #0c6ce9,
      $c-600: #0553c7,
      $c-700: #0441a4,
      $c-800: #063684,
      $c-900: #0b306f,
      $c-950: #081f49
    );

    @include make-color-palette(
      warning,
      $c-50: #fffce5,
      $c-100: #fff9c2,
      $c-200: #ffef85,
      $c-300: #ffdc42,
      $c-400: #ffc70f,
      $c-500: #ffb700,
      $c-600: #d18400,
      $c-700: #a75c02,
      $c-800: #8a480a,
      $c-900: #753b0f,
      $c-950: #431d04
    );

    @include make-color-palette(
      danger,
      $c-50: #fef2f3,
      $c-100: #ffe1e3,
      $c-200: #ffc8cc,
      $c-300: #ffa2a9,
      $c-400: #fd6c76,
      $c-500: #f42c3a,
      $c-600: #e2202e,
      $c-700: #be1723,
      $c-800: #9d1720,
      $c-900: #821a21,
      $c-950: #47080c
    );
  }

  &-dark {
    @include make-color-palette(
      neutral,
      $c-50: #1e1e1e,
      $c-100: #262626,
      $c-200: #2e2e2e,
      $c-300: #383838,
      $c-400: #474747,
      $c-500: #5c5c5c,
      $c-600: #787878,
      $c-700: #999999,
      $c-800: #bdbdbd,
      $c-900: #d9d9d9,
      $c-950: #ededed,
      $interactive-base: #818181
    );

    --on-primary: #dddddd;
    --on-secondary: #aaaaaa;
    --on-dim: #777777;

    @include make-color-palette(
      primary,
      $c-50: #4b0904,
      $c-100: #881c14,
      $c-200: #a5190f,
      $c-300: #c81a0d,
      $c-400: #ed2415,
      $c-500: #ff5043,
      $c-600: #ff6f64,
      $c-700: #ffa49d,
      $c-800: #ffc9c5,
      $c-900: #ffe1df,
      $c-950: #fff2f1
    );

    @include make-color-palette(
      success,
      $c-50: #031c11,
      $c-100: #11412a,
      $c-200: #135335,
      $c-300: #126d41,
      $c-400: #139054,
      $c-500: #1da563,
      $c-600: #39db8a,
      $c-700: #73edb0,
      $c-800: #a8f5cf,
      $c-900: #cbfbe1,
      $c-950: #dffbec
    );

    @include make-color-palette(
      info,
      $c-50: #081735,
      $c-100: #0e2958,
      $c-200: #0b306a,
      $c-300: #093986,
      $c-400: #0a49a9,
      $c-500: #145bb8,
      $c-600: #3182ed,
      $c-700: #71a8f4,
      $c-800: #a9c9f9,
      $c-900: #d0dffb,
      $c-950: #dce8fe
    );

    @include make-color-palette(
      warning,
      $c-50: #2d1206,
      $c-100: #5c2d14,
      $c-200: #6e3712,
      $c-300: #87460d,
      $c-400: #ad640b,
      $c-500: #d08a11,
      $c-600: #eaa510,
      $c-700: #f5c13d,
      $c-800: #f8d97c,
      $c-900: #fbebb1,
      $c-950: #fbf3d5
    );

    @include make-color-palette(
      danger,
      $c-50: #26080a,
      $c-100: #611f23,
      $c-200: #761e24,
      $c-300: #96222a,
      $c-400: #ba2c35,
      $c-500: #df202d,
      $c-600: #ef5d66,
      $c-700: #f68e96,
      $c-800: #f8afb4,
      $c-900: #fac6ca,
      $c-950: #f8d8da
    );
  }
}

// Default box-sizing
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Scrollbar
* {
  // Firefox
  scrollbar-width: auto;
  scrollbar-color: var(--neutral-300) transparent;

  // Chromium/Safari
  &::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    @apply my-1;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--neutral-200);
    border-radius: 2px;
    transition: background 100ms ease;

    &:hover {
      background: var(--neutral-300);
    }
  }
}

* {
  // Selection highlight color
  &::selection {
    background: var(--info-100);
  }

  // Default focus outline
  &:focus-visible {
    outline: 2px solid var(--on-secondary);
  }
}
